<form style='text-align:center' action='/bookmarks' method=post>
<label for=title>
  Enter Title
  <input type=text name=title>
</label>
<label for=url>
  Enter URL
  <input type=text name=url>
</label>
  <input type=submit value='Save and View'/>
</form>